<div class="jumbotron" id="contactPage">
<h3><b>&nbsp;Contact Me:--</b></h3>
<br/>
    <ul>
      <li class ="bl"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +1-(213)-357-7567</li>
      <li><a href="mailto:amitjha@usc.edu" class="bl"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> amitjha@usc.edu</a></li>
      <li><a href="mailto:amitjha678@gmail.com" class="bl"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> amitjha678@gmail.com</a></li>
    </ul>
</div>
